body{
    background-image: url( ../akan/images/ghana2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron{
    font-weight: 200;
    color: blanchedalmond;
}
h1{
    text-align: center;
    color: rgb(226, 162, 43);
}
.form-group{
    float: center;
}